*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family:'josefin sans', sans-serif;

}
.hero{
    height: 100vh;
    width: 100%;
    background-image:url(https://cdn.pixabay.com/photo/2023/11/28/08/53/skyscraper-8416953_1280.jpg) ;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    /* padding-top: 40%; */
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;

}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:brown;
}
button{
    border: none;
    background:blue ;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    transform: scale(1.2);
}
.bg{
    background-color: black;
}
.goal{
    color:rgb(235, 145, 9);
    padding: 75px;
    margin: 50px; 
    font-family: 'Courier New', Courier, monospace;
}